.container {
  margin: 0 auto;
  width: 600px;
}
.table {  
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tableWrapper {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.tableWrapper::-webkit-scrollbar {
	width: 12px;
}
.tableWrapper::-webkit-scrollbar-track {
	background: #2F2F37;
}
.tableWrapper::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}
.tabs {
  list-style-type: none;
  display: flex;
  width: auto;
  margin-top: 0;
  padding-left: 0;
}
.tabs > li > div{
  padding-left: 26px;
  padding-right: 26px;
}
.ingredient {  
  position: relative;
  text-align: center;
  cursor: pointer;
  max-width: 272px;
}
.ingredient[isDrag = true] {
 opacity: 0;
}
.counter, .cost{
  font-family: 'Iceland', Arial, sans-serif;
}
.counter > div{
  padding: 0;
}
.cost {
  font-size: 28px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cost > svg {
  margin-left: 10px;
}

@media (max-width: 575px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
  .container > div:nth-child(1) {
    font-size: 28px;
    text-align: center;
    margin-bottom: 8px;
  }
  .table {
    flex-wrap: wrap;
  }  
  .tabs > li > div{
    padding-left: 25px;
    padding-right: 25px;
    width: min-content;
    font-size: 14px;
  }
  .tableWrapper {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 260px);
  }
  .tableWrapper > div {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .tableWrapper::-webkit-scrollbar {
    display: none;
  }
  .ingredient {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 144px;
    height: 72px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .ingredient > img {
    width: 140px;
  }  
  .ingredient > div:nth-child(2) {
    font-size: 22px;
  }  
  .ingredient > div:nth-child(3) {
    font-size: 14px;
  }
}