.ingredientIcon {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background: #131316;
  border-radius: 100px;
  transform: translate(2px, 2px);
  -webkit-transform: translate(2px, 2px);
  -moz-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  -o-transform: translate(2px, 2px);
}

.ingredientIconBorder {
  display: inline-flex;
  position: relative;
  z-index: 5;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
}
.ingredientIconBorder:nth-child(n + 2) {
  margin-left: -16px;
}

.ingredientIconBorder:nth-child(2) {
  z-index: 4;
}
.ingredientIconBorder:nth-child(3) {
  z-index: 3;
}
.ingredientIconBorder:nth-child(4) {
  z-index: 2;
}
.ingredientIconBorder:nth-child(5) {
  z-index: 1;
}
.ingredientIconBorder:nth-child(6) {
  z-index: 0;
  opacity: .6;
  position: relative;
}
.ingredientIconBorder:nth-child(6)::after {
  content: attr(count);
  position: absolute;
  opacity: 1;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
