.container {
  width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.orderId {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 82px;
}
.orderStatus {
  color: #00CCCC;
  margin-top: 12px;
  margin-bottom: 60px;
}
.contains {
  height: 315px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 24px;
  margin-bottom: 20px;
}
.contains::-webkit-scrollbar {
	width: 12px;
}
.contains::-webkit-scrollbar-track {
	background: #2F2F37;
}
.contains::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}
.contains ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.contains ul li, .ingredientTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}
.cost {
  display: flex;
  justify-content: flex-end;
}

.cost svg {
  padding-left: 10px;
}

.inactive {
  color: #8585AD;
}
.done {
  color: #00CCCC;
}
