.container {
  display: none;
  font-size: 22px; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  padding: 12px 8px;
  margin: 0 auto;
  background-color: #1C1C21;
}

@media (max-width: 575px) {
  footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: -webkit-fill-available;
  }
  .container {        
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Iceland';
    font-size: 22px;
    line-height: 24px;
    margin-left: auto;
    margin-right: 16px;
  } 
  .footer > svg {
    margin-left: 8px;
  }
  .container > button {
    width: 196px;
  }
}