.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 520px;
  text-align: center;
}
.energy {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #8585AD;
}
.energyItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}