.wrapper {
  display: flex;
  cursor: pointer;
  width: 584px;
  flex-direction: column;
  background: #1C1C21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}
.orderTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.inactive {
  color: #8585AD;
}
.ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cost {
  display: flex;
  align-items: center;
}
.cost svg {
  margin-left: 10px;
}
.done {
  color: #00CCCC;
}
