.container {
  margin: 0 auto;
  padding: 24px 0;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  background-color: #1C1C21;  
}
.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}
.navigation > li:not(:last-child) {
  margin-right: 8px;
}
.logo {
  margin-left: 112px;
  margin-right: auto;
  background-size: 0 0;
}
.menuIcon {
  position: relative;
  padding-left: 18px;
  padding-bottom: 8px;  
  cursor: pointer;
  display: none;  
}
.menuIcon:before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 18px;
  height: 12px;
  border-top: 2px solid #F2F2F3;
  border-bottom: 2px solid #F2F2F3;
}
.menuIcon:after {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 18px;  
  height: 0;
  border-top: 2px solid #F2F2F3;
  margin-top: 7px;
}
.menu {
  display: none;
  width: -webkit-fill-available;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1C1C21;
  z-index: 1000;
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}
/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */
.menuHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: -webkit-fill-available;  
}
.menuHeader > svg {
  margin-left: auto;
}

@media (max-width: 575px) {
  .container {
    max-width: 320px;
    padding: 12px 8px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1C21;
  }
  .container > nav, .container > .account {
    display: none;
  }
  .logo > svg {
    display: none;
  }
  .logo {
    width: 40px;
    height: 40px;
    background-image: url('../../images/logo-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  .menuIcon {
    display: inline-block;
  }
}